<div class="index-tabs">
    <div (click)="switchIndex('tc')" [ngClass]="{'tab-selected': selectedTab=='tc'}">Total Confirmed</div>
    <div (click)="switchIndex('td')" [ngClass]="{'tab-selected': selectedTab=='td'}">Total Death</div>
    <div (click)="switchIndex('tr')" [ngClass]="{'tab-selected': selectedTab=='tr'}">Total Recovered</div>
    <div (click)="switchIndex('nowc')" [ngClass]="{'tab-selected': selectedTab=='nowc'}">Now Confirmed</div>
    <div (click)="switchIndex('newc')" [ngClass]="{'tab-selected': selectedTab=='newc'}">New Confirmed</div>
    <div (click)="switchIndex('nd')" [ngClass]="{'tab-selected': selectedTab=='nd'}">New Death</div>
    <div (click)="switchIndex('nr')" [ngClass]="{'tab-selected': selectedTab=='nr'}">New Recovered</div>
</div>

<div echarts [options]="mapOption" [theme]="'dark'" (chartInit)="onChartInit($event)" class="world-map"></div>